body{
    font-family: Arial, sans-serif;
    background-color:black;
    margin: 20px;
}
.header{
    flex-direction: row;
    display: flex;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    justify-content: space-around;
}
.header a{
    color: white;
    text-decoration: none;
    padding: 10px;
    list-style-type: none;

}
.header a:hover{
    background-color: #555;
}
.header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;}

    .hero{
        margin-top: 30px;
        display:flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        color: white;
        justify-content: center;
        margin: 20px;
        gap:20px;

    }
    .hero-left{
        max-width: 600px;
    }
    .hero-left button{
        padding: 10px 20px;
        background-color: blue;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 5px;
    }
    .hero img{
        width: 300px;
        height: 200px;
        margin-right: 20px;
        background-color: whitesmoke;
        color:black;
        margin: 0;
    }
    #hero{
        background-color: #333;
        color: white;
        margin:0;
        text-align: center;
         margin-bottom: 50px;
    }
    .hero-left h2{
        font-size: 20px;
        margin: 0;
    }
    .hero-left p{
        font-size: 14px;
        margin: 10px 0 0 0;
    }

    .main{

        display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 20px;
           
    }
    .info{
        background-color: white;
        text-align: center;

    }
    .info .all{
        display:flex;
        flex-direction: row;
    }

.notes{
    background-color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
}   
    
.notes span{
    font-size: 14px;
    color: gray;
    align-items: end;
}

.call{
    background-color:blue;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.call button{
    padding: 10px 20px;
    background-color: white;
    color: blue;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}




